*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Amazon Ember", Arial, sans-serif;
}
.header{
    display: flex; 
    justify-content: center;
    font-size: 22px;
    font-weight: lighter;
    margin-top: 20px;
}
form input{
    border: 1px solid #a6a6a6; 
    border-top-color: #949494; 
    border-radius: 3px; 
    box-shadow: 0 1px 0 rgb(255 255 255 / 50%), 0 1px 0 rgb(0 0 0 / 7%) inset; 
    padding: 8px 240px 8px 8px;
}

#country{
    border: 1px solid #a6a6a6; 
    border-top-color: #949494; 
    border-radius: 3px; 
    box-shadow: 0 1px 0 rgb(255 255 255 / 50%), 0 1px 0 rgb(0 0 0 / 7%) inset; 
    padding: 6px 200px 6px 8px;
    outline: none;
}
#country:focus{
    border-color: #176cad;
    background-color: #f5faff;
	box-shadow:0 0 0 3px rgba(87, 8, 235, 0.1) inset;
}
.billing{
    border: 1px solid #a6a6a6; 
    border-top-color: #949494; 
    border-radius: 3px; 
    box-shadow: 0 1px 0 rgb(255 255 255 / 50%), 0 1px 0 rgb(0 0 0 / 7%) inset; 
    padding: 8px 162px 8px 8px;
    outline: none;
}
textarea:focus{
    border-color: #176cad;
    background-color: #f5faff;
	box-shadow:0 0 0 3px rgba(87, 8, 235, 0.1) inset;
}
.phone{
    border: 1px solid #a6a6a6;
        border-top-color: #949494;
        border-radius: 3px;
        box-shadow: 0 1px 0 rgb(255 255 255 / 50%), 0 1px 0 rgb(0 0 0 / 7%) inset;
        outline: none;
    padding: 8px 162px 8px 8px;
}
input[type=text] {
    outline: none;
  }
  
  input[type=text]:focus {
    border-color: #176cad;
    background-color: #f5faff;
	box-shadow:0 0 0 3px rgba(46, 0, 133, 0.1) inset;
}
#kome select{
    outline: none;
}
.sec{
    margin-left: 30%;
}
.sec1{
    margin-top: px;
}
.sec2{
    margin-top: 50px;
}
.set{
    margin-top: 35px;
    border: 3px solid orange ;
    border-left: 10px solid orange;
    border-radius: 5px;
    padding: 12px 20px;
    padding-bottom: 25px;
    width: 500px;
}
@media(min-width:1600px){
  .sec{
    margin-left: 35%;
  }
}
@media(max-width:900px){
    .sec{
        margin-left: 18%;
      }
}
.hr{
    margin-top: 50px;
    width: 555px;
    border: 1px solid rgb(238, 236, 236);
}